:root {
    --headFont: 'Tilt Neon', cursive;
    --textFont: 'Tilt Warp', cursive;
    --darkred: #540b0e;
    --lightred: #9e2a2b;
    --lightcream: #fff3b0;
    --darkcream: #e09f3e;
    --blue: #335c67;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff3b0;
    opacity: 1;
    background-image: radial-gradient(#9e2a2b 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#9e2a2b 0.9500000000000001px, #fff3b0 0.9500000000000001px);
    background-size: 38px 38px;
    background-position: 0 0, 19px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 100vw;
}

header,
footer {
    width: 100vw;
    background-color: var(--lightred);
    /* padding: 15px; */
}

header {
    min-height: 8vh;
}

footer {
    min-height: 4vh;
}

header h1,
footer p {
    font-family: var(--headFont);
    text-align: center;
    margin: 10px;
    color: var(--lightcream);

}

header h1 {
    font-size: 2.5rem;
}

footer p {
    font-size: 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 2.5vw;
    max-width: 90vw;
    margin: 5vh 0;
}

#grid {
    background-color: white;
    aspect-ratio: 1/1;
    width: 60vh;
    max-height: 60vh;
    border: 2px solid var(--darkred);
    box-shadow: 1px 0px 5px var(--lightred);
    display: grid;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    font-family: var(--textFont);
}


#controls button {
    font-family: var(--textFont);
    background-color: var(--lightred);
    color: var(--lightcream);
    padding: 10px 20px;
    border: 3px solid var(--darkred);
    border-radius: 25px;
    font-size: 1.1rem;
    box-shadow: 1px 0px 2px var(--lightred);
    min-width: 16vw;
}

#color-mode.active, #rainbow.active {
    background-color: var(--darkred);
    box-shadow: 0px 0px 20px var(--darkcream);
}


input[type='range']::-webkit-slider-runnable-track {
    background: var(--lightcream);
    border: 2px solid var(--darkred);
    border-radius: 25px;
}

/* input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
} */

input[type='color'] {
    /* -webkit-appearance: none; */
    aspect-ratio: 1/1;
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border-radius:50%;
    border: 3px solid black;
}

#size {
    margin-top: -10px;
}